form input[type="submit"]{
	    	background: green;
	    	color: white;
	    	text-align: center;
	    	display: inline-block;
	    	margin-left: 18px;
	    	margin-bottom: 15px;
	    	padding: 8px 20px;
	    	border: none;
	    }
 form input[type="reset"]{
	    	background: green;
	    	color: white;
	    	text-align: center;
	    	display: inline-block;
	    	margin-left: 18px;
	    	margin-bottom: 10px;
	    	padding: 8px 20px;
	    	border: none;
	    }
 